// https://www.colourlovers.com/palette/4881775/Tropic_Storm
$primary-color: #20447D;
$primary-color-hover: #2B748A;

$font-light: #FFFFFF;
$font-grey: #3e3e3e;
$font-dark: #000000;

$border-primary: #6AB3A1;

$background-primary: #20447D;
$background-secondary: #2B748A;
$background-dark: #2B748A;
$background-light: #FFFFFF;

$danger: #c94f4f;
$success: #5cb85c;
